body {
    margin: 0;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    background: transparent;
    width: 375px;
}
.Topnav {
    width: 375px;
    height: 64px;
    justify-content: space-between;
    display: flex;
}
.Topnav-left-container,
.Topnav-right-container {
    cursor: pointer;
}
.Topnav-left-arrow {
    width: 20px;
    height: 20px;
    margin: 25px 0px 19px 36px;
}
.Topnav-title {
    font-size: 14px;
    font-weight: 800;
    margin-top: 25.5px;
}
.Topnav-open-url {
    width: 26px;
    height: 26px;
    margin: 22px 36px 16px 0px;
}

.URL {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 13px 16px 0px 16px;
}
.Block-URL-button {
    margin: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    justify-content: center;
    display: flex;
}
.Block-URL {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.URL-input-container {
    background-color: #eaf2ff;
    border-radius: 71px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 14px;
}
.url-input {
    border: none;
    background-color: transparent;
    margin: 10px 12px 10px 16px;
    outline: none;
    font-size: 14px;
    width: 239px;
}
.Search-button {
    display: flex;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    margin-right: 6px;
}

.Search-button img {
    width: 32px;
    height: 32px;
}
.Image {
    background-color: #eaf2ff;
    width: 319px;
    height: 299px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 20px 28px 20px;
}
.Image img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin-bottom: 10px; 
}
.download-button {
    background-color: #eaf2ff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin: 20px 20px 0 auto; 
}
.download-button:hover {
    background-color:  #eaf2ff;
}