body {
    margin: 0;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    background: transparent;
    width: 370px;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 28px;
    background-color: rgba(146, 181, 241, 0.8);
}

.logo {
    width: 59px;
    height: 59px;
    margin-right: 20px;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 26px;
    font-weight: bold;
    top: 11px;
    margin: 0;
}

.subtitle {
    font-size: 12px;
    top: 8px;
    margin: 0;
}
/*체크박스*/
.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 11px;
    margin-left: 17px;
}

.checkbox-check {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}
.checkbox-check .checkmark:after {
    content: '\2713';
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 20px;
    display: block;
}
.checkmark {
    width: 20px;
    height: 20px;
    background-color: #abb4c4;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.checkbox-check.checked .checkmark {
    background-color: #2196f3;
}

.checkbox-check.checked .checkmark:after {
    content: '\2713';
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 20px;
    display: block;
}

.text {
    font-size: 14px;
}

.button-container {
    margin-top: 12px;
    margin-left: 16px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 마지막 버튼의 오른쪽 여백 제거 */
.button-container .button:last-child {
    margin-right: 17px;
}

/*첫번째 버튼*/
.button.scan-button {
    background-color: #ececec;
    position: relative;
    width: 75px;
    height: 69px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}
.scan-button:hover {
    background-color: #cccccc; /* 호버 시 배경색 변경 */
}

.scan-image {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto; /* 가운데 정렬 */
    margin-top: 10px;
}

.scan-text {
    font-size: 11px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
}

/*두번째 버튼*/
.button.document-button {
    background-color: #ececec;
    position: relative;
    width: 75px;
    height: 69px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}
.document-button:hover {
    background-color: #cccccc; /* 호버 시 배경색 변경 */
}

.document-image {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto; /* 가운데 정렬 */
    margin-top: 10px;
}

.document-text {
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    margin-top: 6px;
}
/*세번째 버튼*/
.button.qr-button {
    background-color: #ececec;
    position: relative;
    width: 75px;
    height: 69px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}
.qr-button:hover {
    background-color: #cccccc; /* 호버 시 배경색 변경 */
}

.qr-image {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto; /* 가운데 정렬 */
    margin-top: 10px;
}

.qr-text {
    font-size: 11px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
}

/*네번째 버튼*/
.button.history-button {
    background-color: #ececec;
    position: relative;
    width: 75px;
    height: 69px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}
.history-button:hover {
    background-color: #cccccc; /* 호버 시 배경색 변경 */
}

.history-image {
    width: 33px;
    height: 33px;
    display: block;
    margin: auto; /* 가운데 정렬 */
    margin-top: 8px;
}

.history-text {
    font-size: 11px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
}

.button-group {
    margin-top: 12px;
    margin-left: 43px;
    margin-right: 43px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*업로드 버튼*/
.button.fileupload-button {
    background-color: #ececec;
    position: relative;
    width: 80px;
    height: 69px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}
.fileupload-button:hover {
    background-color: #cccccc; /* 호버 시 배경색 변경 */
}

.upload-image {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto; /* 가운데 정렬 */
    margin-top: 8px;
}

.upload-text {
    font-size: 11px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
}

/*클립보드 버튼*/
.button.clipboard-button {
    background-color: #ececec;
    position: relative;
    width: 80px;
    height: 69px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}
.clipboardbutton:hover {
    background-color: #cccccc; /* 호버 시 배경색 변경 */
}

.clipboard-text {
    font-size: 11px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
}

/*캡처 버튼*/
.button.capture-button {
    background-color: #ececec;
    position: relative;
    width: 80px;
    height: 69px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}
.capturebutton:hover {
    background-color: #cccccc; /* 호버 시 배경색 변경 */
}

.capture-text {
    font-size: 11px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
}

/*사진 띄워지는 박스*/
#qrCodeContainer {
    width: 270px;
    height: 230px;
    border-radius: 12px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    overflow: hidden; /* 내용이 컨테이너를 넘어갈 때 숨기기 */
}

#qrCodeContainer img {
    max-width: 100%; /* 이미지의 최대 너비를 100%로 설정 */
    max-height: 100%; /* 이미지의 최대 높이를 100%로 설정 */
    height: auto; /* 가로 비율을 유지한 채로 이미지 높이 조정 */
    width: auto; /* 세로 비율을 유지한 채로 이미지 너비 조정 */
}

.url-input-container {
    display: flex;
    align-items: center;
    margin-top: 20px; /* 위쪽 여백 추가 */
}

.url-input {
    width: 270px; /* 입력란의 너비 설정 */
    height: 20px; /* 입력란의 높이 설정 */
    padding: 5px; /* 내부 여백 설정 */
    border: 1px solid #ccc; /* 테두리 스타일 설정 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    margin-right: 10px; /* 입력란과 버튼 사이 간격 설정 */
}

.submit-url-button {
    height: 30px;
    width: 40px;
    padding: 7px 7px; /* 버튼 내부 여백 설정 */
    background-color: #d9d9d9; /* 배경색 설정 */
    color: white; /* 글자색 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

.submit-url-button:hover {
    background-color: #595959; /* 호버 시 배경색 변경 */
}

.box {
    margin: 5px;
    padding: 25px;
    border: dashed 3px dodgerblue;
    text-align: center;
    cursor: copy;
}

.box:hover {
    background-color: #2195f33f;
}

.result {
    margin: 5px;
    padding: 5px;
}

.btn {
    background-color: #ececec;
    padding: 10px 20x;
    border: none;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
    margin: 5px;
    width: 95%;
    outline: none;
}

.info {
    border-color: #595959;
    border-radius: 5px;
    height: 30px;
}

.info:hover {
    background: #595959;
    color: white;
}
