body {
    background-color: white;
}

.container {
    background: white;
    width: 310px;
    height: 185px;
    padding: 15px;
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    font-size: 12px;
    color: #555;
    margin: 0;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button-group {
    display: flex; /* 요소를 수평으로 배열 */
    justify-content: center; /* 요소들을 수평 방향으로 가운데 정렬 */
    margin-top: 15px; /* 위쪽 여백 추가 */
}

.button-group1 {
    display: flex; /* 요소를 수평으로 배열 */
    justify-content: center; /* 요소들을 수평 방향으로 가운데 정렬 */
    margin-top: 10px; /* 위쪽 여백 추가 */
}
.button {
    padding: 10px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* 간격 조절을 위한 margin 추가 */
}

/* 마지막 버튼의 오른쪽 여백 제거 */
.button-container .button:last-child {
    margin-right: 0;
}

.checkbox-container {
    margin-top: 20px; /* 로고와 버튼 사이의 간격 설정 */
    display: flex;
    align-items: center;
}

.checkbox-container input[type='checkbox'] {
    margin-right: 5px;
}

.checkbox-container label {
    font-size: 12px;
    color: #555;
}
/*첫번째 버튼*/
.button.scan-button {
    background-color: #ececec; /* 버튼 배경색 설정 */
    position: relative; /* 포지션 설정 */
    width: 65px; /* 버튼 너비 설정 */
    height: 60px; /* 버튼 높이 설정 */
    box-shadow: 1px 4px 8px rgba(2, 2, 3, 0.1); /* 그림자 추가 */
}
.scan-button:hover {
    background-color: #cccccc; /* 호버 시 배경색 변경 */
}

.scan-image {
    width: 40px; /* QR 이미지의 너비 설정 */
    height: 40px; /* QR 이미지의 높이 설정 */
    display: block; /* 이미지를 블록 레벨 요소로 설정하여 가운데 정렬을 쉽게 설정합니다. */
    margin: 0 auto; /* 가운데 정렬 */
    margin-top: 5px;
}

.scan-text {
    font-size: 10px; /* QR 텍스트의 글꼴 크기 설정 */
    color: #333; /* QR 텍스트의 색상 설정 */
    text-align: center; /* 가운데 정렬 */
    font-weight: bold; /* 텍스트를 굵게 설정 */
    margin-top: 0px; /* 아이콘과 텍스트 사이의 간격 조정 */
}
.scan-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scan-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 다른 스타일링 속성들 */
}
/*두번째 버튼*/
.button.document-button {
    background-color: #ececec; /* 버튼 배경색 설정 */
    position: relative; /* 포지션 설정 */
    width: 65px; /* 버튼 너비 설정 */
    height: 60px; /* 버튼 높이 설정 */
    box-shadow: 1px 4px 8px rgba(2, 2, 3, 0.1); /* 그림자 추가 */
}
.document-button:hover {
    background-color: #cccccc; /* 호버 시 배경색 변경 */
}

.document-image {
    width: 25px; /* QR 이미지의 너비 설정 */
    height: 25px; /* QR 이미지의 높이 설정 */
    display: block; /* 이미지를 블록 레벨 요소로 설정하여 가운데 정렬을 쉽게 설정합니다. */
    margin: 0 auto; /* 가운데 정렬 */
    margin-top: 10px;
}

.document-text {
    font-size: 10px; /* QR 텍스트의 글꼴 크기 설정 */
    color: #333; /* QR 텍스트의 색상 설정 */
    text-align: center; /* 가운데 정렬 */
    font-weight: bold; /* 텍스트를 굵게 설정 */
    margin-top: 6px; /* 아이콘과 텍스트 사이의 간격 조정 */
}
.document-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.document-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 다른 스타일링 속성들 */
}
/*세번째 버튼*/
.button.qr-button {
    background-color: #ececec; /* 버튼 배경색 설정 */
    position: relative; /* 포지션 설정 */
    width: 65px; /* 버튼 너비 설정 */
    height: 60px; /* 버튼 높이 설정 */
    box-shadow: 1px 4px 8px rgba(2, 2, 3, 0.1); /* 그림자 추가 */
}
.qr-button:hover {
    background-color: #cccccc; /* 호버 시 배경색 변경 */
}

.qr-image {
    width: 38px; /* QR 이미지의 너비 설정 */
    height: 38px; /* QR 이미지의 높이 설정 */
    display: block; /* 이미지를 블록 레벨 요소로 설정하여 가운데 정렬을 쉽게 설정합니다. */
    margin: 0 auto; /* 가운데 정렬 */
    margin-top: 5px;
}

.qr-text {
    font-size: 10px; /* QR 텍스트의 글꼴 크기 설정 */
    color: #333; /* QR 텍스트의 색상 설정 */
    text-align: center; /* 가운데 정렬 */
    font-weight: bold; /* 텍스트를 굵게 설정 */
    margin-top: 0px; /* 아이콘과 텍스트 사이의 간격 조정 */
}
.qr-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qr-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 다른 스타일링 속성들 */
}
/*네번째 버튼*/
.button.history-button {
    background-color: #ececec; /* 버튼 배경색 설정 */
    position: relative; /* 포지션 설정 */
    width: 65px; /* 버튼 너비 설정 */
    height: 60px; /* 버튼 높이 설정 */
    box-shadow: 1px 4px 8px rgba(2, 2, 3, 0.1); /* 그림자 추가 */
}
.history-button:hover {
    background-color: #cccccc; /* 호버 시 배경색 변경 */
}

.history-image {
    width: 30px; /* QR 이미지의 너비 설정 */
    height: 30px; /* QR 이미지의 높이 설정 */
    display: block; /* 이미지를 블록 레벨 요소로 설정하여 가운데 정렬을 쉽게 설정합니다. */
    margin: 0 auto; /* 가운데 정렬 */
    margin-top: 7px;
}

.history-text {
    font-size: 10px; /* QR 텍스트의 글꼴 크기 설정 */
    color: #333; /* QR 텍스트의 색상 설정 */
    text-align: center; /* 가운데 정렬 */
    font-weight: bold; /* 텍스트를 굵게 설정 */
    margin-top: 6px; /* 아이콘과 텍스트 사이의 간격 조정 */
}
.history-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.history-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 다른 스타일링 속성들 */
}

.url-input-container {
    display: flex;
    align-items: center;
    margin-top: 20px; /* 위쪽 여백 추가 */
}

.url-input {
    width: 250px; /* 입력란의 너비 설정 */
    height: 20px; /* 입력란의 높이 설정 */
    padding: 5px; /* 내부 여백 설정 */
    border: 1px solid #ccc; /* 테두리 스타일 설정 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    margin-right: 10px; /* 입력란과 버튼 사이 간격 설정 */
}

.submit-url-button {
    height: 30px;
    width: 40px;
    padding: 7px 7px; /* 버튼 내부 여백 설정 */
    background-color: #d9d9d9; /* 배경색 설정 */
    color: white; /* 글자색 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

.submit-url-button:hover {
    background-color: #595959; /* 호버 시 배경색 변경 */
}
